<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Luiz Felipe Rodrigues Fernandes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Matrícula: 22203456</p>
      <p>Professores: Oswaldo Peres, Charlie Bastos.</p>
      <p>Curso: Análise e Desenvolvimento de Sistemas </p>
      <p>Módulo: Desenvolvimento Mobile</p>
      <p>Turma: ADS0301 N</p>
      <img src="assets/Img.jpeg" alt="Minha Foto"/>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="goToBack()">Voltar</ion-button>
</ion-content>
